<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Home</title>
</head>
<body>
    <h1 th:text="'Owners Home'">Owners Home</h1>
    <hr>
    <h2>List of Owners</h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">0</td>
            <td th:text="${owner.firstName}">Jane</td>
            <td th:text="${owner.lastName}">Doe</td>
        </tr>
        </tbody>
    </table>
</body>
</html>